<% if admin_signed_in? %>
  <div class="container-iniciar row center-xs middle-xs margen">
    <% if new_user_session_path  %>
      <%= render "newSecre" %>
    <%elsif new_admin_session_path %>
    <%= render "newAdmin" %>
    <%end%>
  </div>
<%else %>
  <%= render "partials/err404" %>
<%end %>
