<div class="err404">
  <div class="margen row center-xs middle-xs" id="err404">
    <div>
      <div class="msj404">
        <h2><b>404</b></h2>
        <p>It looks like you found a</p>
        <h2>Dead Link</h2>
      </div>
      <div class="img404">
        <%= image_tag("link.png", :alt => "image" ) %>
      </div>
    </div>
  </div>
</div>
