<% objeto ||= @patient %>
<% name ||= "patient" %>
<% if objeto.errors.any? %>
  <div id="error_explanation" class="alert alert-error fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <ul>
    <% objeto.errors.full_messages.each do |message| %>
      <li>*<%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
