<header class="header-home header-signin">
  <div class="row margen between-xs">
    <div class="col-xs-8 row margen middle-xs">
      <button type="button" class="btn"><i class="fa fa-bars"></i></button>
      <h2>Buena Salud</h2>
    </div>
    <div class="col-xs-4 row margen middle-xs end-xs">
      <button type="button" class="btn btn-danger">Salir</button>
    </div>
  </div>
</header>
