<footer>
  <br>
  <hr>
  <div class="footer-info row around-xs margen">
    <p>Copyright © Instituto Tecnológico de Saltillo 2016</p>
    <a href="https://github.com/Beto23/appConsultorio" target="_blank"><i class="fa fa-github"></i> github.com/Beto23/appConsultorio</a>
  </div>
</footer>
