<section class="img-parallax">
	<figure class="margen"></figure>
</section>
<section class="welcome-container">
	<div class="row margen welcome-container-servicios">
		<div class="eslogan col-xs-6 margen row center-xs middle-xs">
			<h2 >Consultorios Buena Salud <br> Lo mejor para vivir bien</h2>
		</div>
		<div class="img-eslogan col-xs-6">
      <%= image_tag("consultorio.jpg", :alt => "image") %>
		</div>
	</div>

	<div class="welcome-container-info">
		<h3>Our services</h3>
		<div class="articles-items row between-xs">
			<div class="articles-items-servicio col-xs-3">
        <%= image_tag("icon1.png", :alt => "image") %>
				<h4>service 1</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in sem cras amet. Donec in sem cras amet.</p>
			</div>
			<div class="articles-items-servicio col-xs-3">
				<%= image_tag("icon2.png", :alt => "image") %>
				<h4>service 2</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in sem cras amet. Donec in sem cras amet.</p>
			</div>
			<div class="articles-items-servicio col-xs-3">
				<%= image_tag("icon3.png", :alt => "image") %>
				<h4>service 3</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in sem cras amet. Donec in sem cras amet.</p>
			</div>
		</div>
	</div>
</section>
