<% a = Medic.where('doctor_id' => @doctor.id).each { |e| e  } %>
<div class="show-doctor row center-xs middle-xs margen">
  <div>
    <i class="fa fa-user-md" aria-hidden="true"></i>
  </div>
  <h3> Dr. <%= @doctor.first_name  %></h3>
  <h3> <%= @doctor.last_name  %></h3>
</div>
<% if a == []%>
  <%= render "medics/formMedics" %>
<%end %>
