@import "bootstrap-sprockets";
@import "bootstrap";
@import "flexboxgrid.css";
@import "reset.css";
@import "font-awesome";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require normalize-rails
 */

 *{
   outline: none !important;
   box-sizing: border-box;
 }

 body{
   font-family: 'Raleway', sans-serif !important;
 }

 h2{
   text-align: center;
 }

 .margen{
   margin: 0;
 }

 i, li{
   cursor: pointer;
 }
.fa-money{
  color: #2E862E;
}
.fa-pencil{
  color: #337AB7;
}
.fa-ban{
  color: #DE5151;
  margin-right: 1em;
}
.fa-file-text{
  color: #509C50;
}

.fa-user-md{
  cursor: none !important;
  font-size: 2em;
  margin: 0 1em;
}

a{
  text-decoration: none !important;
}

.flash-msg{
  position: fixed;
  left: 3px;
  right: 3px;
  top: 134px;
}
/*flash*/

.alert-error, .alert-alert, .alert-success, .alert-notice{
  position: fixed;
  left: 3px;
  right: 3px;
  top: 134px;
}

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

 .info-doc{
    width: 80%;
    margin: 0 auto;
    background: #E6E6E6;
    text-align: center;
    padding: 1em;
    i{
      font-size: 1.4em;
      padding: 0 1em;
    }
 }

@import "home.css.scss";
@import "session.scss";
@import "logIn.scss";
@import "forms.scss";
@import "err404.scss";
@import 'login_as.scss';
@import 'editUsers.scss';
