.form-specialty{
  div{
    width: 90%;
    form{
      text-align: left;
    }
  }
}

.form-Medic{
  width: 35%;
  h4{
    text-align: center;
  }
}

.input-id{
  display: none;
}

.sub-title{
  padding: .4em;
  background: #0157A0;
  margin: 1em 0;
  color: white;
  border-radius: 4px;
}

.foto-expediente{
  img{
    width: 10em;
    height: 10em;
    background: red;
    margin: 0 0 1em 0;
    border: 3px solid;
  }
}

.info-personal{
  margin-bottom: 1em;
}

.btn-patient{
  a{
    margin-right: 1em;
  }
}
.field{
  margin-bottom: 1em;
}
.alert{
  position: fixed;
  right: 0;
  left: 0;
  z-index: 20;
}
