// Place all the styles related to the loginAs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.img-circle{
  height: 16em;
  width: 16em;
}

.loginAs{
  margin-top: 4em;
}
