.header-signin{
  background: #2b2c31 !important;
  padding: 1em;
  h2{
    color: white;
    font-size: 2em;
    margin-left: 1em;
  }
  button{
    padding: .2em .4em;
    .fa-bars{
      color: black;
    }
  }
}

.container-listado{
  .container-all-listado{
    h2{
      text-align: center;
    }
  }
}
//menu
.nav-tabs{
  margin-bottom: .5em;
}

.alert{
  padding: 7px;
}

a{
  display: inline-block;
}
